<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>

    <label>Server Name</label>
    <!-- input using NgModel -->
    <input type="text" class="form-control" [(ngModel)]="newServerName">

    <label>Server Content</label>
    <!-- input using local references (template scope only) -->
    <input type="text" class="form-control" #serverContentInput>

    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverContentInput)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Server Blueprint</button>
  </div>
</div>